.btn {
  padding: 10px 14px;
  background-color: #e8f2ff;
  border: none;
  border-radius: 10px;
  color: #477eea;
  font-weight: 500;
  cursor: pointer;

  &.small {
    font-size: 0.875rem;
    padding: 6px 10px;
  }

  &.medium {
    font-size: 1rem;
    padding: 10px 14px;
  }

  &.large {
    font-size: 1.25rem;
    padding: 14px 18px;
  }
}
