@use "@/styles/sizes";

// 마이페이 (MypaySection)
.mypay-container {
  background-color: #fff;
  padding: sizes.$mobile-space-base;
  margin-bottom: 10px;
}
.title-box {
  display: flex;
  align-items: center;
  .title {
    padding-left: 4px;
    font-size: 0.875rem;
    font-weight: 700;
    > span {
      font-size: 0.875rem;
      font-weight: 700;
      color: #477eea;
    }
  }
}

.pay-box {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pay {
  font-size: 1.25rem;
  // font-weight: 700;
}
.btn {
  padding: 10px 14px;
  background-color: #e8f2ff;
  border: none;
  border-radius: 10px;
  color: #477eea;
  font-weight: 500;
}
