@use "@/styles/sizes";

.historyList-container {
  padding: 20px sizes.$mobile-space-base;
  background-color: #fff;
  min-height: 100vh;
  height: 100vh;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
